:root {
	--primary-color: #fff;
	--secondary-color: #3d3;
	--secondary-color-highlight: #4e4;
	--text-color: #555;
	--text-color-highlight: #999;

	--border-radius: 4px;
	--border-color: rgb(206, 206, 206);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	font-family: roboto;
}
body {
	min-height: 100vh;
	background-color: var(--primary-color);
	color: var(--text-color);
}

nav {
	z-index: 10;
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5em 2em;
	border-bottom: .1px solid var(--border-color);
	background-color: white;
}
nav > div > a {
	margin: .5em;
	color: var(--text-color);
}
h1 {
	margin: .6em 0;
}
form {
	display: flex;
	flex-direction: column;
}
hr {
	height: 1px;
	border: none;
	outline: none;
	margin: 1em 0;
	opacity: 0.3;
	background-color: var(--text-color-highlight);
}
.textinput, .btn-primary {
	resize: none;
	padding: .8em;
	margin: .3em 0;

	border-radius: var(--border-radius);
	border: none;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}
.btn-primary {
	font-weight: bold;
	transition: .3s;
	font-size: 1em;
	color: var(--primary-color);
	cursor: pointer;
	border: none;
	background-color: var(--secondary-color);
}
.btn-primary:hover {
	background-color: var(--secondary-color-highlight);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}
#page-wrapper {
	padding: 2em;
	max-width: 800px;
	margin: 0 auto;
}
.flash {
	padding: .5em;
	margin: .7em 0;
	border-radius: var(--border-radius);
}
.flash-error {
	border: 1px solid red;
	color: red;
	background-color: rgb(255, 198, 198);
}
.flash-success {
	border: 1px solid #6d6;
	color: green; 
	background-color: rgb(175, 255, 202);
}

.post, .profile, .btn-primary:hover, .textarea {
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.post, .profile {
	padding: 1.2em;
	margin: .8em 0;

	border-radius: var(--border-radius);
}
.profile > div {
	display: flex;
	align-items: baseline;
}
.profile > div > p {
	margin: 0 .5em;
}
.post h2 {
	font-weight: normal;
}
.post-titlebar {
	color: var(--text-color-highlight);
}
.post-titlebar, .post-titlebar > div, .comment-footer {
	font-size: 0.9em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.post-titlebar h3 {
	font-size: 1.1em;
	margin-right: .4em;
	color: var(--text-color);
	display: inline;
}
.comment {
	margin: .6em 0;
}
.comment-body, .post-body {
	margin: .35em 0;
}
.comment-footer {
	
}
.comment-footer > a {
	color: var(--text-color-highlight);
	text-decoration: underline;
}

.thread {
	padding-left: .8em;
	margin-left: .4em;
	border-left: 2px solid #ddd;
	overflow: visible;
}
.reply:not(:first-child)::before {
	content: "";
	display: block;
	position: relative;
	height: 1px;
	border: none;
	outline: none;
	margin: .5rem 0;
	opacity: 0.3;
	background-color: var(--text-color-highlight);
}
a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
.post a:hover, .reply a:hover {
	text-decoration: underline;
}

@font-face {
	font-family: "roboto";
	src: url("/static/fonts/roboto/Roboto-Light.ttf");
}