{% from "includes/_form_helpers.html" import render_field %}

{% macro render_post(post, comment_form, target_id, expand_thread=True) %}
<div class="post">
	<div class="post-titlebar">
		<div>
			<span>
				<h3><a href="/b/{{ post.board.name }}">b/{{ post.board.name }}</a></h3>
			</span>
			{{ render_user(post.author) }}
		</div>
		<span>{{ post.creation_date }}</span>
	</div>

	<div class="post-body">
		<h2><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>
		<p>{{ post.body|safe }}</p>
	</div>

	{% if target_id == post.id %}
	<hr>
	<div class="comment_form">
		<form action="/reply/{{ post.id }}" method="post">
			{{ render_field(comment_form.body) }}
			<button class="btn-primary" type="submit" name="post" value="{{ post.id }}">Comment</button>
		</form>
	</div>
	{% else %}
	<div class="comment-footer">
		<a href="/reply/{{ post.id }}">Reply {% if not expand_thread %}({{ post.replies|length - 1 }}){% endif %}</a>
	</div>
	{% endif %}


	{% if post.children and expand_thread %}
	<hr>
	<div class="">
		{% for child in post.children %}
		{{ render_comment(child, target_id, comment_form) }}
		{% endfor %}
	</div>
	{% endif %}

</div>
{% endmacro %}


{% macro render_comment(comment, target_id, comment_form, expand_thread=True) %}
<div class="reply">
	<div class="comment">
		<div class="post-titlebar">
			{{ render_user(comment.author) }}
			<span>{{ comment.creation_date }}</span>
		</div>
		<div class="comment-body">
			{{ comment.body }}
		</div>
		<div class="comment-footer">
			<a href="/reply/{{ comment.id }}">Reply
				{% if not expand_thread %}({{ comment.children|length }}){% endif %}</a>
		</div>
	</div>
	{% if (comment.children or target_id == comment.id) and expand_thread %}
	<div class="thread">
		{% if target_id == comment.id %}
		<div class="commentform">
			<form action="/reply/{{ comment.id }}" method="post">
				{{ render_field(comment_form.body) }}
				<button class="btn-primary" type="submit">Comment</button>
			</form>
		</div>
		{% endif %}
		{% for child in comment.children %}
		{{ render_comment(child, target_id, comment_form) }}
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endmacro %}

{% macro render_user(user) %}
<span>
	<a class="user" data-rank="{{ user.type }}" href="/u/{{ user.username }}">u/{{ user.username }}</a>
</span>
{% endmacro %}