{% extends "main.html" %}
{% from "includes/_post_helpers.html" import render_post, render_comment, render_user %}

{% block body %}
<div class="profile">
	<div>
		<h2>u/{{ user.username }}</h2>
		{% if user.type == "admin" %}
		<p style="color: red;">admin</p>
		{% endif %}
	</div>
	<p>Joined {{ user.registration_date }}</p>
</div>
<div class="feed">
	{% if not submissions %}
	<p>There is nothing here</p>
	{% endif %}

	{% for submission in submissions %}

	{% if submission.board_id != 0 %}
	{{ render_post(submission, expand_thread=False) }}
	{% else %}
	<div class="post">
		<div>

			Replying to {{ render_user(submission.parent.author) }} on <a href="/b/{{ submission.original_post.board.name }}">b/{{ submission.original_post.board.name }}</a>: 
			"{{ submission.parent.title if (submission.parent.board_id != 0) else (submission.parent.body|truncate(50, end="...")) }}"
		</div>
		{{ render_comment(submission, expand_thread=False) }}
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endblock %}